  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code--> 
      <mat-nav-list>
        <a mat-list-item routerLink="/home" (click)="sidenav.close()">
            <md-icon    class="mat-icon material-icons">home</md-icon>&nbsp; <span class="nav-caption">الرئيسية</span>
        </a>
        <a mat-list-item routerLink="/users" (click)="sidenav.close()">
            <md-icon    class="mat-icon material-icons">face</md-icon> &nbsp;<span class="nav-caption">المستخدمين</span>   
        </a>
        <a mat-list-item routerLink="/page2" (click)="sidenav.close()">
            <md-icon    class="mat-icon material-icons">description</md-icon>&nbsp;<span class="nav-caption">الصفحة2</span>
        </a>
        <a mat-list-item routerLink="/page3" (click)="sidenav.close()">
            <md-icon    class="mat-icon material-icons">description</md-icon>&nbsp;<span class="nav-caption">الصفحة3</span>
        </a>
        <a mat-list-item (click)="sidenav.close();logout()">
            <md-icon    class="mat-icon material-icons">exit_to_app</md-icon>&nbsp;<span class="nav-caption">خروج</span>
        </a>
      </mat-nav-list>     
    </mat-sidenav>
    <mat-sidenav-content  [style.background]="BackGroundColor">      
        <app-header (sidenavToggle)="sidenav.toggle()" (BackgroundColor)="ChangeBackgrond($event)" ></app-header>
      <!--in here all the content must reside. We will add a navigation header as well-->
       <app-home></app-home> 
      
      <main>
        <router-outlet></router-outlet>  
        
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>