<!-- <nav class="navbar" style="padding: 0px;">

    
    <div class="navbar-brand"   style="background-color: darkcyan;width: 100%;margin-right: 0px;">
      <a class="navbar-item">
          الرئيسية
    
      </a>
    
    </div>
  </nav> -->

  <mat-toolbar color="primary">
    
    <div fxHide.gt-xs   style="border-radius: 0px;">
        
        <button mat-icon-button (click)="onToggleSidenav()" style="background-color: transparent;color:white;border-radius: 0px;border-color: transparent;">
            <md-icon   class="mat-icon material-icons">menu</md-icon>
        </button>
    </div>
    <!-- <div>
        <a routerLink="/home">الرئيسية</a>
    </div> -->
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs  dir="rtl">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items"    style="padding-right: 73rem;">
            <li>
               
                <input [(colorPicker)]="color"  style="width: 3rem;" [style.background]="color" [cpColorMode]="'presets'" [cpPresetColors] ="['#fff','#000','#7BAB98','#EEA287','#B1CEC3','#FCBCA6','#618C7C']"
                [cpAlphaChannel]="'disabled'" [cpDialogDisplay]="'popup'" [cpToggle] ="false"   [cpWidth]="'70px'" 
                (colorPickerChange)="selectColor();"/>               
            </li>            
        </ul>
    </div>
  </mat-toolbar>