.full-width {
    width: 100%;
  }

  ::ng-deep ngb-datepicker-navigation-select>.custom-select{
    width: auto !important;
    padding: 5px 1.5rem !important;
  }

  ::ng-deep .ngb-dp-arrow{
    transform: rotate(180deg)   !important;
  }
 ::ng-deep input.mat-input-element {
    margin-top: 0.9375em;
}

.modal-header {
  padding-bottom: 0 !important;
}

.modal-content .modal-header {
  color: #fff;
  border-bottom: 0; 
  margin-bottom: 14px;
}

.modal-content .modal-header .modal-title {
  width: 100%;  
}

.modal-content{
  border: 0px solid rgba(0,0,0,.2)  !important;
}